# OS / 编辑器
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node / 包管理器
node_modules/
.npm/
.pnpm-store/
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
dist/
.cache/
.tmp/
*.log

# Hugo 产物与缓存
public/
resources/
.hugo_build.lock
hugo_stats.json
